<!doctype html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <style>
      .content {
        height: 300px;
        overflow: auto;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="sample">
        <form @submit.prevent="formSubmitted = true"
              v-if="!formSubmitted">
          <div class="content alert alert-info"
               @scroll="confirmRead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </div>

          <div v-show="!fieldsHidden">
            <div class="form-group">
              <input type="checkbox"
                     id="agreedToTerms"
                     v-model="agreementOptions.agreedToTerms">
              <label for="agreedToTerms">I agree</label>
            </div>

            <div class="form-group">
              <input type="checkbox"
                     id="sendSpam"
                     v-model="agreementOptions.sendSpam">
              <label for="sendSpam">Send me spam</label>
            </div>

            <div v-show="agreementOptions.sendSpam">
              <div class="form-group">
                <input type="radio"
                       id="spamPlatformPhone"
                       value="Phone"
                       v-model="agreementOptions.spamPlatform">
                <label for="spamPlatformPhone">Spam my phone</label>
              </div>

              <div class="form-group">
                <input type="radio"
                       id="spamPlatformEmail"
                       value="Email"
                       v-model="agreementOptions.spamPlatform">
                <label for="spamPlatformEmail">Send my email</label>
              </div>
            </div>

            <button class="btn btn-success"
                    v-show="agreementOptions.agreedToTerms">
              Send Data
            </button>
          </div>
        </form>

        <table class="table table-bordered"
               v-if="formSubmitted">
          <tr v-for="(value, option, index) in pickedOptions"
              :key="index">
            <td>{{ option }}</td>
            <td>{{ value }}</td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      new Vue({
        el: '.sample',
        data: {
          buttonHidden: true,
          formSubmitted: false,
          fieldsHidden: true,
          agreementOptions: {
            agreedToTerms: false,
            sendSpam: false,
            spamPlatform: 'Phone'
          }
        },
        methods: {
          confirmRead(event) {
            const { scrollTop, scrollHeight, offsetHeight } = event.target;
            if (scrollTop >= (scrollHeight - offsetHeight)) {
              this.fieldsHidden = false;
            }
          }
        },
        computed: {
          pickedOptions() {
            const { spamPlatform, ...optionsWithoutPlatform } =
              this.agreementOptions;
            return this.agreementOptions.sendSpam ?
              this.agreementOptions :
              optionsWithoutPlatform;
          }
        }
      });
    </script>
  </body>
</html>
