<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
        crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/7ce78fe229.js" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <style>
    .fa-exclamation {
      color: red;
    }
    .fa-check {
      color: green;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="sample">
      <form @submit.prevent="submitForm" v-if="!submitted">
        <div class="progress">
          <div class="progress-bar"
               role="progressbar"
               aria-valuemin="0"
               aria-valuemax="100"
               :aria-valuenow="currentProgress"
               :style="currentStyle"></div>
        </div>
        <app-form-field v-for="(field, index) in fields"
                        :key="index"
                        :field="field">
        </app-form-field>
        
        <button class="btn btn-primary">Send Data</button>
      </form>

      <table class="table table-bordered" v-if="submitted">
        <tr v-for="field in fields">
          <td>{{ field.title }}</td>
          <td>{{ field.value }}</td>
        </tr>
      </table>
    </div>
  </div>
  <script>
    const fieldsTotal = 100;

    Vue.component('app-form-field', {
      props: {
        field: Object
      },
      template: `
        <div class="form-group">
          <label>{{ field.title }}</label>
          <span v-show="field.activated">
            <i class="fas"
               :class="field.valid ? 'fa-check' : 'fa-exclamation'"></i>
          </span>
          <input type="text"
                 class="form-control"
                 v-model.lazy="field.value"
                 @change="updateField(field)">
        </div>
      `,
      data() {
        return {
        }
      },
      methods: {
        updateField(field) {
          field.valid = field.validationPattern.test(field.value);
          field.activated = true;
        }
      }
    });

    new Vue({
      el: '.sample',
      data: {
        submitted: false,
        fields: [
          {
            title: 'Name',
            value: '',
            validationPattern: /^[a-z]{2,30}$/i
          },
          {
            title: 'Phone',
            value: '',
            validationPattern: /^\d{7,14}$/
          },
          {
            title: 'Email',
            value: '',
            validationPattern: /^[a-z\d]{1,20}@[a-z\d]{1,20}\.[a-z]{1,6}$/i
          },
          {
            title: 'Some Field 1',
            value: '',
            validationPattern: /.+/
          },
          {
            title: 'Some Field 2',
            value: '',
            validationPattern: /.+/
          },
        ]
      },
      created() {
        for (field of this.fields) {
          this.$set(field, 'valid', field.validationPattern.test(field.value));
          this.$set(field, 'activated', field.value != '');
        }
      },
      methods: {
        submitForm() {
          if (this.currentProgress == fieldsTotal) {
            this.submitted = true;
          }
        }
      },
      computed: {
        currentProgress() {
          return this.fields.reduce((total, current) => {
            if (current.valid && current.activated) {
              return total + this.fieldProgress;
            } else {
              return total;
            }
          }, 0);
        },
        currentStyle() {
          return `width: ${this.currentProgress}%;`;
        },
        fieldProgress() {
          return Math.floor(fieldsTotal / this.fields.length)
        }
      }
    });
  </script>
</body>

</html>
