<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="sample">
        <form v-if="!submitted" @submit.prevent="onSubmit">
          <div v-for="(value, key, index) in info">
            <p>
              <label>{{ camelToTitleCase(key) }}</label>
            </p>
            <p>
              <input type="text" v-model="info[key]">
            </p>
          </div>

          <label>Guests</label>
          <a class="btn btn-primary" @click="addGuest">+</a>
          <div v-for="(value, index) in guests"
               @dblclick="removeGuest(index)">
            <p>
              <label>Guest {{ index + 1 }}</label>
            </p>
            <p>
              <input type="text" v-model="guests[index]">
            </p>
          </div>
          <hr>
          <button class="btn btn-success">Send Data</button>
        </form>

        <div v-else>
          <h1>All Done!</h1>
          <table class="table table-responsive-md table-bordered">
            <tr v-for="(value, key) in info">
              <td>{{ camelToTitleCase(key) }}</td>
              <td>{{ value }}</td>
            </tr>
            <tr>
              <td>Guests</td>
              <td>
                <ul class="list-group">
                  <li v-for="guest in guests" class="list-group-item">
                    {{ guest }}
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: '.sample',
        data: {
          info: {
            email: '',
            firstName: '',
            lastName: '',
            phone: ''
          },
          guests: [],
          submitted: false
        },
        methods: {
          addGuest() {
            this.guests.push('');
          },
          removeGuest(index) {
            this.guests.splice(index, 1);
          },
          onSubmit() {
            this.submitted = true;
          }
        },
        computed: {
          camelToTitleCase() {
            return (text) => {
              let upperCamelCase = text.charAt(0).toUpperCase() + text.slice(1);
              return upperCamelCase.replace(/[A-Z]/g, '$&');
            }
          }
        }
      });
    </script>
  </body>
</html>
